@model IEnumerable<AntColonyWeb.Models.City>
@{
    ViewBag.Title = "Home Page";
}

<div class="div_block">
    <form action="/Home/GetChosenCities" method="post">

        <div>
            <h2 style="margin-bottom: 30px;">Choose cities you want:</h2>
            <select required class="selectpicker" name="selected" multiple>
                @foreach (var city in Model)
                {
                    <option value="@city.ID">@city.Name</option>
                }
            </select>
        </div>
        <div class="row">
            <div class="col-8 col-sm-8">
                <h2 style="margin-bottom: 30px;">Input amount of fuel, your vehicle consume per 100 km:</h2>
                <div class="input-group" style="width:30%">
                    <input name="fuel_cons" required value="10" type="number" class="form-control" placeholder="Input fuel amount">
                    <span class="input-group-addon">
                        Liters
                    </span>
                </div>
            </div>

            <div class="col-4 col-sm-4">
                <h2 style="margin-bottom: 30px;">Select your fuel type:</h2>
                <select class="selectpicker" name="fuel_t">
                    <option value="Пальне А-95">Бензин А-95</option>
                    <option value="Пальне А-92">Бензин А-92</option>
                    <option value="Дизельне пальне">Дизельне пальне</option>
                    <option value="Газ">Газ</option>
                </select>
            </div>
        </div>

                <h2 style="margin-bottom: 30px;">Total money budget:</h2>
                <div class="input-group"  style="width:30%">
                    <span class="input-group-addon">
                        UAH
                    </span>
                    <input type="text" name="TotalMoney" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon">
                        .00
                    </span>
                </div>

                <h2 style="margin-bottom: 30px;">Total time avaliable:</h2>
                <label>Days:</label>
                <input name="TotalTimeDays" required type="number" style="width: 30%;" class="form-control" placeholder="Input amount of days">
                <label>Hours:</label>
                <input name="TotalTimeHours" value="0" required type="number" style="width: 30%;" class="form-control" placeholder="Input amount of hours">

        <div style="text-align: center;">
            <input class="btn-1" value="Accept" style="width:200px; margin-top: 30px;" type="submit" />
        </div>
    </form>
</div>


<script>
    $(document).ready(function () {
        var div_select = document.getElementsByClassName('bootstrap-select')[0];
        div_select.setAttribute("style", "width: 100%;");
    });
</script>
