
@{
    ViewBag.Title = "GetHtml";
}

<h2>GetHtml</h2>

<table class="table">
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Km</th>
        <th>Time</th>
    </tr>
            @foreach (var item in ViewBag.Distances)
            {
                <tr>
                @for (int i = 0; i < item.Length; i++)
                { 
                    <td> @item[i]</td>
                }
                    </tr>
            }

</table>

<h3>Ціна на пальне </h3>
<p>@ViewBag.FuelPrice</p>


